@using System.Globalization
@model Vidly.ViewModels.MovieDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>

    @if (Model.GenreName != null)
    {
        <li>Genre: @Model.GenreName</li>
    }
    @if (Model.ReleaseDate != null)
    {
        <li>Release date: @Model.ReleaseDate.Value.DayOfWeek, @Model.ReleaseDate.Value.ToString("MMMM", CultureInfo.InvariantCulture) @Model.ReleaseDate.Value.Day, @Model.ReleaseDate.Value.Year</li>
    }
    @if (Model.AddedDate != null)
    {
        <li>Date added: @Model.AddedDate.Value.DayOfWeek, @Model.AddedDate.Value.ToString("MMMM", CultureInfo.InvariantCulture) @Model.AddedDate.Value.Day, @Model.AddedDate.Value.Year</li>
    }
    @if (Model.NumberInStock != null)
    {
        <li>Number in stock: @Model.NumberInStock</li>
    }

</ul>

@*<a href="/Movies/Details/@Model.NextId" class="btn btn-primary">Next</a>*@