@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="form-group">
    @Html.ActionLink("New Movie", "New", "Movies", null, new {@class = "btn btn-primary"})
</div>


@if (Model.Movies.Count > 0)
{
    <table id="movie-table" class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
        <tbody>

        @foreach (var item in Model.Movies)
        {
            <tr>
                @*<td>@item.Name</td>
        The last null parameter is needed for proper working......: *@
                <td>
                    @Html.ActionLink(item.Name, "Details", "Movies", new { id = item.Id }, null)
                </td>
                <td>@item.Genre.GenreName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Movies", new { id = item.Id }, null)

                    @*///!!!!!!!!!!!!*@
                    <a href="#" data-js-delete="@item.Id" class="delete-link">Delete</a>

                </td>
            </tr>
        }

        </tbody>
    </table>
}
else
{
    <p>We have no movies yet!</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            // this line is problematic, because it generates as many event listener as many items we have -> it consumes more memory than it should
            // to prevent this, use the modified line!
            //$('#movie-table .delete-link').click(function () {
            // this way only one event listener is generated, on the movie-table!!
            // the second paramater of the on() function is a filter, so it will affect only .delete-link class elements

            $('#movie-table').on("click", ".delete-link", function () {
                var link_ = $(this);
                var id = link_.attr("data-js-delete");
                bootbox.confirm("Are you sure you want to delete this movie?", function (answer) {
                    if (answer) {
                        $.ajax({
                            method: "DELETE",
                            url: "/api/movies/" + id,
                            success: function () {
                                link_.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}

